@import url('https://fonts.googleapis.com/css2?family=Anek+Latin:wght@300;400;500;600&display=swap');

body {
  font-family: "Source Sans Pro";
  background-color: rgb(31 41 55);
  color: #fff;
  overflow-x: hidden;
}

#img {
  filter: invert(1);
}

h1 {
  color: lightslategray;
}
h2 {
  color: lightslategray;
}
header{
  font-weight: 700;
}

@media (max-width: 600px) {
  .recharts-xAxis,
  .recharts-yAxis {
    display: none;
  }
}
