
body{
  font-family: 'Trebuchet MS';
  background-color: rgb(31 41 55);
  color: #fff;
  overflow-x: hidden;
}

#img{
  filter: invert(1)
}

h1{
  color: lightslategray;
}
h1,h2{
  font-size: xx-large;
}

@media (max-width: 600px) {
  .recharts-xAxis,
  .recharts-yAxis {
    display: none;
  }
}