body {
  font-family: "Source Sans Pro";
  background-color: rgb(31 41 55);
  color: #fff;
  overflow-x: hidden;
}

#img {
  filter: invert(1);
}

h1 {
  color: lightslategray;
}
h2 {
  color: lightslategray;
}

@media (max-width: 600px) {
  .recharts-xAxis,
  .recharts-yAxis {
    display: none;
  }
}
