@font-face {
	font-family: "Open Sans";
	src: url("fonts/OpenSans-VariableFont_wdth,wght.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

body {
	font-family: "Open Sans";
	background-color: rgb(31 41 55);
	color: #fff;
	overflow-x: hidden;
}

#img {
	filter: invert(1);
}

h1 {
	color: lightslategray;
}
h2 {
	color: lightslategray;
}
header {
	font-weight: 700;
}

@media (max-width: 600px) {
	.recharts-xAxis,
	.recharts-yAxis {
		display: none;
	}
}
